# Android Studio / IntelliJ
*.iml
.gradle/
.idea/
*.class
*.apk
*.aab

# Build outputs
/build/
app/build/

# Local config (duong dan SDK tren may ca nhan – khong commit)
local.properties

# Keystore (TUYET DOI khong commit file nay)
*.jks
*.keystore

# MacOS
.DS_Store

# Windows
Thumbs.db

# Kotlin / Java
*.class
out/

# Gradle cache
.gradle/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
